<!DOCTYPE html>
<html>
<head>
    <title>Screen Sage - {{title}}</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/common.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <ul class="nav-links">
                {{nav_links}}
            </ul>
        </div>
    </nav>
    <div class="main-content">
        {{content}}
    </div>
    {{page_script}}
</body>
</html>